@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: 'fuenteMarvel';
    src: url('/src/fonts/TiltWarp-Regular.ttf');
}

* {
    padding: 0;
    margin: 0
}

:root {
    --marvel-color: #ed1d24;
}

.font-sourceSans {
    font-family: 'Source Sans Pro', sans-serif;
}


.font-marvel {
    font-family: 'fuenteMarvel';
}

.text-shadow-white {
    text-shadow: 0px 0px 4px white;
}

.banner {
    right: 0;
    bottom: 0;
    padding: 2em;
    color: white;
    position: absolute;
    font-family: 'fuenteMarvel';
    filter: drop-shadow(1px 8px 5px black);
    -webkit-filter: drop-shadow(1px 8px 5px black);
}

div>nav>ul>li>button>a:hover {
    color: var(--marvel-color);
    animation: navBarItem 1s ease-in;
    -webkit-animation: navBarItem 1s ease-in;
}

@keyframes navBarItem {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

header {
    position: sticky;
    z-index: 20;
    top: 0;
}

@media screen and (max-width: 850px) {

    .banner {
        background: transparent !important;
    }


    .responsive {
        flex-direction: column;
        width: 100% !important;
        z-index: 1;
    }

    .responsive-inlineblock {
        display: inline-block !important;
        justify-content: center !important;
    }

    .responsive-relative {
        width: 100% !important;
        position: relative !important;
        justify-content: center !important;
    }

    /* Navbar */


    .navbarMenu {
        background-color: black !important;
    }

    .navbarMenu>ul>li {
        width: 100%;
    }

    .navbarMenu>ul>li>button,
    .navbarMenu>ul>li>button>a {
        width: inherit
    }

    .navbarMenu>ul>li>div,
    .navbarMenu>ul>li>div>div>form>button {
        width: 100%;
        text-align: center;
        justify-content: center;
    }




    /* .responsive-navbar {
        line-height: 0 !important;
    } */
}